.f-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: yellow;
}

.f-container > div {
    background-color: lightgreen;
    width: 70px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}


.f2-container {
    display: flex;
    justify-content: flex-end;
    background-color: yellow;
}

.f2-container > div {
    background-color: lightgreen;
    width: 70px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}


.f3-container {
    display: flex;
    justify-content: flex-end;
    background-color: yellow;
}

.item {
    flex-grow: 2;
}

.f3-container > div {
    background-color: lightgreen;
    width: 70px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}


.f4-container {
    display: flex;
    justify-content: center;
    background-color: yellow;
}

.f4-container > div {
    background-color: lightgreen;
    width: 70px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.f5-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: yellow;
}

.f5-container > div {
    background-color: lightgreen;
    width: 70px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.f6-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.item1 {
    width: 100%;
}

.item2 {
    width: 40%;
}

.item3 {
    width: 60%;
}

.item4 {
    width: 70%;
}
.item5 {
    width: 20%;
}

.item6 {
    width: 30%;
}

.f6-container > div {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    border: 2px solid white;
    border-radius: 2px;
    margin: 5px;
    background-color: lightblue;
}


.f7-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item7 {
    height: 200px;
}

.item8 {
    height: 150px;
}

.item9 {
    height: 130px;
}

.item10 {
    height: 100px;
}
.item11 {
    height: 80px;
}

.item12 {
    height: 60px;
}

.f7-container > div {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    border: 2px solid white;
    border-radius: 2px;
    margin: 5px;
    background-color: lightblue;
}


.f8-container > div {
    background-color: lightgreen;
    width: 70px;
    margin: 3px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.f8-container {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.f9-container {
    background-color: gray;
    margin-top: 50px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.card {
    background-color: white;
    flex: 0 0 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.3);
}
.card img {
    max-width: 100%;
}

.card h3 {
    color: blue;
}

.card .text {
    padding: 0 20px 20px;
}
.card .text > button {
    background: blue;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
}




